@using WineSite.Core.Models.Wine;
@model WineServicesModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Wine Image">
        <div class="card-body text-center">
            <h5>@Model.Name</h5>
            <h6>
                <b>Цена на бутилка:</b>
                @String.Format("{0:f2}", Model.Price) лв.
            </h6>
            
            <br />

            <a asp-controller="Wine" asp-action="Details" asp-route-id="@Model.Id" 
              class="btn btn-primary btn-fixed-size">Детайли</a>

            @{
                if (User.IsInRole("Administrator"))
                {
                    <form asp-controller="Wine" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                        <button type="submit" class="ml-2 btn btn-danger btn-sm btn-fixed-size">Изтрий</button>
                    </form>


                    <a class="btn btn-info btn-fixed-size" asp-controller="Wine" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                }
                else
                {
                    <a class="ml-2 btn btn-warning btn-fixed-size" asp-controller="Wine" asp-action="AddToCart" asp-route-id="@Model.Id">Купи</a>
                }
            }

           

           
           
           
        </div>
    </div>
</div>
