@using WineSite.Core.Models.Wine;
@model WineDetailsSevicesModel

@{
    ViewBag.Title = "Повече за виното";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p><b>Име:</b> @Model.Name</p>
            <p>
                <b>Цена на бутилка:</b>
                <b>@String.Format("{0:f2}", Model.Price) лв.</b>
            </p>
            <p><b>Описание:</b> @Model.Description</p>
            <p><b>Тип:</b>@Model.Type</p>
            <p><b>Страна на произход:</b> @Model.Country</p>
            <p><b>Производител:</b> @Model.Manufucturer</p>
            <p><b>Вносител:</b> @Model.Importer</p>
            <p><b>Реколта:</b> @Model.Harvest</p>
            <p><b>Съдържание на алкохол:</b> @Model.AlcoholContent</p>
            <p><b>Бутилка:</b> @Model.Bottle ml</p>

            <div class="form-inline">
               
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
             
            </div>
        </div>
    </div>
    </div>
