@using WineSite.Core.Models.Wine;
@model WineDetailsSevicesModel

@{
    ViewBag.Title = "House Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Located in: <b>@Model.Name</b></p>
            <p>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Type</b></p>
           
            <div class="form-inline">
                @if (User.IsInRole("Administrator"))
                {
                    <a class="btn btn-warning" asp-controller="Wine" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
             
            </div>
        </div>
    </div>
    </div>
