@using WineSite.Core.Models.Event;
@model IEnumerable<AddToCartViewModel>
@{
    ViewBag.Title = "Количка";
    decimal totalPrice = Model.Sum(item => item.PricePerTicket * item.Quentity);
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="row justify-content-center">

            <div class="card col-md-4 mb-4">
                <img class="card-img-top" src="@item.ImageUrl" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@item.TicketName</h5>
                    <p class="card-text"><span class="fw-bold">Price:</span> @item.PricePerTicket BGN</p>
                    <div>
                        <p>Количество: @item.Quentity</p>
                        <div class="btn-group" role="group" aria-label="Управление на количеството">
                            <form asp-controller="Event" asp-action="DecreaseQuantity" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-secondary">-</button>
                            </form>
                            <form asp-controller="Event" asp-action="IncreaseQuantity" asp-route-id="@item.Id" method="post">
                                <button type="submit" class="btn btn-secondary">+</button>
                            </form>
                        </div>
                    </div>
                </div>
                <form asp-controller="Event" asp-action="RemoveFromCart" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-danger btn-block fw-bold">Премахни</button>
                </form>
            </div>
        </div>
    }
</div>

<div class="text-center mt-4">
    <h4>Total Price: <span id="total-price">@totalPrice</span> BGN</h4>
</div>

<form action="@Url.Action("DetailsDelivery", "Event")" method="get">
    <button type="submit" class="btn btn-success">Завърши поръчката</button>
</form>


 

