@using EventsWebsite.Models;
@model EventsViewModel

@{
    ViewBag.Title = "Събития детайли";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Located in: <b>@Model.Address</b></p>
            <p>@Model.HostName</p>
            <p>@Model.Features</p>
            <p>@Model.Preferences</p>
            <p>@Model.Description</p>
        </div>
        <p></p>

        <a class="btn btn-warning btn-sm" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a>
        <form asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="ml-2 btn btn-danger btn-sm">Изтрия</button>
        </form>
        <a class="ml-2 btn btn-danger btn-sm" asp-controller="Event" asp-action="AddToCart" asp-route-id="@Model.Id">Запиши се</a>
    </div>
</div>
