@using WineSite.Core.Models.Event;
@model EventsViewModel

@{
    ViewBag.Title = "Събития детайли";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <center><h1>@Model.Name</h1></center>
        <div class="col-12">
            <img class="img-fluid" src="@Model.ImageUrl" alt="Event Image" style="width: 100%;">
        </div>
        <div class="card col-8 border-0">
           
            <p><b>Адрес:</b>@Model.Address</p>
            <p><b>Цена:</b>@Model.PriceTicket</p>
            <p><b>Продължителност:</b>@Model.Duration</p>
            <p>@Model.Description</p>
            <p><b>Винен лист:</b></p>
            <ul>
                @foreach (var note in Model.WineList.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <li>@note</li>
                }
            </ul>
            <p><b>Особености</b></p>
            <ul>
                @foreach (var note in Model.Features.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <li>@note</li>
                }
            </ul>
            <p><b> Преференции</b></p>
            <ul>
                @foreach (var note in Model.Features.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <li>@note</li>
                }
            </ul>
            <p><b>Кога и къде</b></p>
            <p>@Model.MoreInformation</p>
            <p><b>Водещ на събитието:</b>@Model.HostName</p>

          

        </div>
        <p></p>
        @if (User.IsInRole("Administrator"))
        {
            <a class="btn btn-warning btn-sm" style="font-size: 12px;" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a>

            <form asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="ml-2 btn btn-danger btn-sm" style="font-size: 12px;">Изтрий</button>
            </form>
        }

        <a class="ml-2 btn btn-danger btn-sm" style="font-size: 12px;" asp-controller="Event" asp-action="AddToCart" asp-route-id="@Model.Id">Запиши се</a>
   
    </div>
</div>
